name: Run All Tests
  
on:
  workflow_call:
    inputs: 
      build-configuration:
        description: "The build configuration"
        type: string
        required: false
        default: "Release"
      dotnet-version:
        description: "The .NET version"
        type: string
        required: false
        default: "7.0.x"

  pull_request:
    branches:
      - '**'
  push:
    branches:
      - 'dev/**'
env:
  BUILD_CONFIGURATION: ${{ inputs.build-configuration || 'Debug' }}
  DOTNET_VERSION: ${{ inputs.dotnet-version || '7.0.x' }}
  
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:    
  unit-tests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - name: Set up Environment
        uses: ./.github/actions/setup

      - name: Building Solution
        uses: ./.github/actions/build

      - name: Running unit tests        
        uses: ./.github/actions/test
